/* IMPORTANT STUFF */
nav {
    width: 275px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.site-wrap {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.push-wrap {
    -webkit-transition: all 300ms ease 0;
    -moz-transition: all 300ms ease 0;
    -o-transition: all 300ms ease 0;
    transition: all 300ms ease 0;

    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);

    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.show-nav .push-wrap {
    -webkit-transform: translate(275px, 0);
    -moz-transform: translate(275px, 0);
    -ms-transform: translate(275px, 0);
    -o-transform: translate(275px, 0);
    transform: translate(275px, 0);

    -webkit-transform: translate3d(275px, 0, 0);
    -moz-transform: translate3d(275px, 0, 0);
    -ms-transform: translate3d(275px, 0, 0);
    -o-transform: translate3d(275px, 0, 0);
    transform: translate3d(275px, 0, 0);
}



/* BASE CSS */
body {
    background: #e3e3e3;
}
a {
    transition: all 300ms ease;
}
nav {
    background: #2b343f;
    text-align: center;
    -webkit-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.5);
    box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.5);
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul li a {
    display: block;
    text-decoration: none !important;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    color: #fff;
}
nav ul li a:hover {
    background: #4EFFFF;
    color: #000;
}
article {
    position: relative;
    min-height: 1500px;
    background: #e3e3e3;
    z-index: 9;
    width: 100%;
}
article h1 {
    text-align: center;
    margin: 40px 0 30px;
}
article p {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 40px;
}
article a.toggle-nav {
    position: absolute;
    font-size: 25px;
    color: rgb(255, 139, 139);
    top: 0;
    left: 0;
    background: #444;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
article a.toggle-nav:hover {
    color: red;
}
i {
    color: pink;
}